.sidebar{
    width:300px;
    background:var(--bg-secondary);
    border-right:1px solid var(--border);

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    padding:28px 22px;

    transition:.3s;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.8rem;
    font-weight: 700;

    color: var(--text-primary);

    margin-bottom: 24px;
    padding-left: 6px;
}

.new-chat {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 14px 18px;

    border: none;
    border-radius: 14px;

    cursor: pointer;

    background: var(--accent);
    color: white;

    font-size: 1.05rem;
    font-weight: 600;

    transition: .25s ease;
}

.new-chat:hover{
    transform: translateY(-2px);
    background: var(--accent-hover);
}

.history{

    flex:1;

    margin-top:45px;

    overflow-y:auto;

}

.history h4{

    margin-bottom:18px;

    color:var(--text-secondary);

    font-size:17px;

    font-weight:600;

}

.history-item{

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:12px;

    padding:14px;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

    margin-bottom:10px;
}

.history-item:hover{

    background:var(--hover);

}

.history-item.active{

    background:var(--accent);

    color:white;

}

.bottom{

    border-top:1px solid var(--border);

    padding-top:18px;

}

.menu{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

}

.menu:hover{

    background:var(--hover);

}

.delete-btn{

    opacity:0;

    border:none;

    background:none;

    cursor:pointer;

    font-size:16px;

    transition:.25s;

}

.history-item:hover .delete-btn{

    opacity:1;

}

.delete-btn:hover{

    transform:scale(1.2);

}

.history-item.active{

    background:var(--accent);

    color:white;

}

.history-item.active svg{

    color:white;

}